<div class="main-wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="navbar-wrapper">
        <div class="nav-btn-wrapper-1">
            <img src="Logo2.png" class="logo">
        </div>
        <div class="nav-btn-wrapper-2">
            <a href="#"><button class="nav-button go-up background-comp"><i class="fa-solid fa-arrow-up"></i></button></a> 
            <button class="nav-button background-comp" onclick="location.href='#contacto'">Contacto</button>
        </div>
    <div>
    
        </div>
    </div>
    <div class="title-wrapper">
        <h1 class="title text-secondary"><strong>Axel Jiménez</strong></h1>
        <h2 class="sub-title text-secondary">Ingeniero de software</h2>
        <br>
        <p class="text-secondary">Desarrollador <em>Full-Stack</em> con experiencia en React, Angular, Node js, Java, .NET, bases de datos relacionales, no relacionales y desarrollo con metodologías agile.</p>
        <a href="CV-Español.pdf" download><button class="btn background-comp">Descargar CV <i class="fa-solid fa-download"></i></button></a>
        <div class="logo-title-wrapper">
            <div class="logo-title-image">
                <img src="Logo2.png" class="logo-title">
            </div>
            <div class="links-wrapper">
                <a href="https://github.com/AxelJQ" target="#">
                    <button class="nav-button background-comp"><i class="fa-brands fa-github"></i></button>
                </a>
                <a href="https://www.linkedin.com/in/axel-gabriel-jiménez-quesada-50b698332" target="#">
                    <button class="nav-button background-comp"><i class="fa-brands fa-linkedin"></i></button>
                </a>
            </div>
        </div>
    </div>
    <div class="tech-skills-wrapper">
        <div class="text-skills-title">
            <h2 class="text-secondary text-center tech-title">Habilidades Técnicas</h2>
        </div>
        <div class="tech-skills-grid">
            <div class="row">
                <div class="col tech-grid-item">
                    <img src="sql.png" class="grid-img-sql">
                    <p class="text-secondary tech-text">SQL y bases de datos</p>
                </div>
                <div class="col tech-grid-item">
                    <img src="angular.png" class="grid-img">
                    <p class="text-secondary tech-text">Angular</p>
                </div>
                <div class="col tech-grid-item">
                    <img src="nodejs.png" class="grid-img">
                    <p class="text-secondary tech-text">Node.js</p>
                </div>
            </div>
            <div class="row row-2">
                <div class="col tech-grid-item">
                    <img src="react.png" class="grid-img">
                    <p class="text-secondary tech-text">React</p>
                </div>
                <div class="col tech-grid-item">
                    <img src="spring.png" class="grid-img">
                    <p class="text-secondary tech-text">Spring</p>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-wrapper">
        <div class="text-skills-title">
            <h2 class="text-secondary text-center tech-title">Mis trabajos</h2>
        </div>
            <div class="slider">
                <div class="item">
                    <img src="moka.png" class="slideshow-img">
                    <div class="content">
                        <p class="text-comp"><strong>Moka</strong></p>
                        <p class="text-secondary item-text">Aplicación para una veterinaria para agendar citas y guardar expedientes de mascotas</p>
                    </div>
                </div>
                <div class="item">
                    <img src="rentheaven.png" class="slideshow-img">
                    <div class="content">
                        <p class="text-comp"><strong>RentHeaven</strong></p>
                        <p class="text-secondary">Aplicación de registro y renta de propiedades</p>
                    </div>
                </div>
                <div class="item">
                    <img src="hichat.png" class="slideshow-img">
                    <div class="content">
                        <p class="text-comp"><strong>Hi-chat</strong></p>
                        <p class="text-secondary">Aplicación simple de chat en vivo para usuarios registrados</p>
                    </div>
                </div>
                <div class="item">
                    <img src="memory.png" class="slideshow-img">
                    <div class="content">
                        <p class="text-comp"><strong>Memory</strong></p>
                        <p class="text-secondary">Juego simple de memoria</p>
                    </div>
                </div>
                <button id="next">></button>
                <button id="prev"><</button>
            </div>
    </div>
    <div class="contact-wrapper">
        <div class="text-skills-title">
            <h2 class="text-secondary text-center tech-title" id="contacto">Contacto</h2>
        </div>
        <div class="contact-form-wrapper">
            <div class="contact-form">
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="33a14c7d-7e2c-4162-8fe8-8cb50cbb523f">

                    <p class="text-secondary">Nombre <span>*</span></p>
                    <input type="text" class="input" name="name" required>

                    <p class="text-secondary">Correo Electrónico <span>*</span></p>
                    <input type="email" class="input" name="email" required>

                    <p class="text-secondary">Número de teléono <span>*</span></p>
                    <input type="tel" class="input" name="phone" pattern="[0-9]{8}" required>
                    
                    <p class="text-secondary">Mensaje <span>*</span></p>
                    <textarea class="input" name="msg" required></textarea>
                    
                    <button type="submit" class="contact-btn nav-button background-comp">Enviar</button>
                </form>
            </div>
            <div class="myinfo">
                <h3 class="text-comp">Dirección</h3>
                <p class="text-secondary">Costa Rica, San José, Tibás</p>
                <br>
                <br>
                <h3 class="text-comp">Correo Electrónico</h3>
                <p class="text-secondary">axeljimq&#64;gmail.com</p>
                <br>
                <br>
                <h3 class="text-comp">Número de Teléfono</h3>
                <p class="text-secondary">6045-1389</p>
                <div class="socials">
                    <a href="https://github.com/AxelJQ" target="#">
                        <i class="fa-brands fa-github text-comp"></i>
                    </a>
                    <a href="https://www.instagram.com/aku_chaan" target="#">
                        <i class="fa-brands fa-instagram text-comp"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/axel-gabriel-jim%C3%A9nez-quesada-50b698332" target="#">
                        <i class="fa-brands fa-linkedin text-comp"></i>
                    </a>
                    <a href="https://www.youtube.com/@axeljq8214" target="#">
                        <i class="fa-brands fa-youtube text-comp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet />